body {
  margin: 1px;
  background-color: #63676b;
  font-family: "Trade Winds";
 
}

header {
  font-family: "Trade Winds";
}
.titulo {
  color: white;
  font-family: "Trade Winds", cursive;
}
.navBarColor {
  font-family: "Trade Winds", cursive;
  background: #424950ec;
}
/* Seccion maquina */
.sectionCardsMaquina {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cardMaquina {
  margin: 1em;
}

.imgMaquina1:hover{
  background-image: "../img/maquinas/maquina001.avif";
}

/* Seccion Tinta */
.iconInfo {
  font-size: 5em;
  color: rgba(255, 255, 255, 0.589);
}

/* Footer */

footer a i {
  color: white;
}

/* Fin footer */

/* Efecto area para texto "Precios válidos solo para venta online" */

/* Fin efecto area 
  

/* 
font-family: 'BhuTuka Expanded One', cursive;
font-family: 'Birthstone Bounce', cursive;
font-family: 'PT Serif', serif;
font-family: 'Sono', sans-serif;
font-family: 'Trade Winds', cursive; */
